www.linkedin.com/in/herwin-stenil-e-b65317263


<div class="carousel-item active">
  <img src="{% static '98974a.jpg' %}" class="d-block w-100 img-fluid" alt="...">
</div>


<iframe src="https://lottie.host/embed/ef657bbb-e883-4c82-97bb-8b671d4f2c01/5Vp2LFQhXc.lottie"></iframe>

<iframe src="https://lottie.host/embed/854fc1e1-8edd-4661-bc40-6b1b62b020b6/CMrishbT2w.lottie"></iframe>

<a href="https://www.ucen.ac.in/"><span class="highlight">full stack web development,</span></a>

<img src="{% static '98974a.jpg' %}" alt="Herwin Stenil" class="profile-img" />

.job-date {
font-family: "Courier New", monospace;
font-size: 0.85rem;
color: #8892b0;
margin-bottom: 1.5rem;
}

<!-- Project Box 5 -->
<div class="project-card">
  <h4 class="project-title">Automated XML Proofing Tool </h4>
  <p class="project-desc">
    A proofing and comparison tool for XML documents. Highlights differences, supports merging, and provides a
    user-friendly interface for editors.
  </p>
  <ul class="project-tech">
    <li>Python</li>
    <li>Flask</li>
    <li>MongoDB</li>
    <li>JavaScript</li>
  </ul>
  <div class="project-links">
    <a href="https://github.com/herwinstenil/xml-tree-proof" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
</div>
</div>

<!-- Featured Project 1 -->
<div class="project-card">
  <div class="project-image">
    <img src="{% static 'Canteen.png' %}" alt="Roriri Smart Canteen System">
  </div>
  <div class="project-content">
    <p class="project-overline">Featured Project</p>
    <h3 class="project-title">Roriri Smart Canteen System</h3>
    <div class="project-description-box">
      <p class="project-tagline">A QR-based Smart Canteen Management Platform.</p>
      <p>I built a Smart Canteen Management System to streamline employee food ordering and billing, implementing
        a secure QR-based authentication system that generates unique QR codes for employees upon registration. I
        also developed a responsive platform for menu browsing and order placement, along with an intuitive admin
        dashboard for efficient menu and order management.</p>
    </div>
    <ul class="project-tech">
      <li>Python</li>
      <li>Django</li>
      <li>SQLite</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript (ES6+)</li>
    </ul>
  </div>
</div>