
www.linkedin.com/in/herwin-stenil-e-b65317263


 <div class="carousel-item active">
            <img src="{% static '98974a.jpg' %}" class="d-block w-100 img-fluid" alt="...">
          </div>


 <iframe src="https://lottie.host/embed/ef657bbb-e883-4c82-97bb-8b671d4f2c01/5Vp2LFQhXc.lottie"></iframe>

 <iframe src="https://lottie.host/embed/854fc1e1-8edd-4661-bc40-6b1b62b020b6/CMrishbT2w.lottie"></iframe>

 <a href="https://www.ucen.ac.in/"><span class="highlight">full stack web development,</span></a>